@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');



p {
    margin: 0
}
/* 
img {
    width: 100%;
    max-height: 400px;
} */


.image1 {
    width: 100%;
    max-height: 416px;
}
.image2 {
    width: 100%;
    max-height: 200px;
}

.image3 {
    width: 100%;
    max-height: 200px;
}

.image4 {
    width: 100%;
    max-height: 200px;
}

.image5 {
    width: 100%;
    max-height: 200px;
}




/* .container {
    margin: 25px auto
} */

.image {
    position: relative;
    width: 100%;
    overflow: hidden
}

.image .overlay {
    position: absolute;
    bottom: 0;
    padding-left: 25px;
    padding-top: 15px;
    width: 100%;
    color: white;
    font-size: 20px;
    z-index: 5
}

.image .overlay::before {
    content: "";
    background: #ffff;
    height: 100%;
    width: 100%;
    z-index: 1;
    position: absolute;
    left: 0;
    bottom: -150px;
    z-index: -2;
    opacity: 0.5;
    transition: all 0.3s ease-out
}

.image:hover .overlay {
    color: black
}

.container .image:hover .overlay .h4,
.container .image:hover .overlay .textmuted
 {
    color: red;
    
}

.image:hover .overlay::before {
    bottom: 0px
}

.textmuted {
    color: #f8f8f8;
    font-weight: 200;
    font-size: 15px;
    text-transform: capitalize
}
